body {
	font-family: "Open Sans", Arial, sans-serif;
	width: 1024px;
	margin: 0 auto;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

header {
	font-size: 20px;
	color: #f9e42e;
	background-color: black;
	border-bottom: 5px solid #f9e42e;
}

h1 {
	font-family: "Merriweather", serif;
	padding: 22px 22px 0px 22px;
}

nav {
	color: white;
	text-align: right;
	padding-right: 10px;
}

nav li {
	display: inline-block;
	font-size: 22px;
	margin-left: 10px;
	margin-right: 10px;
}

li:nth-child(1) {
	font-weight: 900;
}

li:nth-child(2) {
	font-weight: 900;
}

.graysection {
	font-size: 20px;
	font-weight: 900px;
	font-style: italic;
	text-align: center;
	font-family: "Merriweather";
	background-color: #d3d3d3;
	padding: 20px;
	margin: 0px;
}

del {
	color: #a9a9a9;
}

ins {
	text-decoration: none;
	border-bottom: 3px solid #f9e42e;
}

section.sectionone {
	background: url(images/coworking.jpg);
	margin: 0px 0px 25px 0px;
	background-size: cover;
	border: .5px solid gray;
}

.meetyourmatch {
	float: right;
	border: 3px solid gray;
	width: 380px;
	margin-top: 25px;
	margin-right: 25px;
	background-color: rgba(211, 211, 211, 0.9);
	margin-bottom: 25px;
}

h3 {
	font-size: 32px;
	margin-left: 40px;
	margin-bottom: 0px;
	
}

.meetyourmatch p {
	font-family: "Open Sans";
	font-size: 24px;
	text-align: left;
	font-style: normal;
	margin-left: 40px;
	margin-right: 15px;
	padding-bottom: 10px;
	

}
.button {
	border-radius: 5px;
	background-color: #f9e42e;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 35px;
	padding: 15px 20px;
	box-shadow: 0px 3px 1px #D6C537;
}

.threedivs {
	display: inline-block;
	font-size: 15px;
	width: 1024px;

}

.threedivsection {
	width: 329px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	padding-bottom: 20px;
	/*border: 1px solid black;*/
}

.threedivsection:nth-child(2) {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-right: 5px;
}

.threedivs h4 {
	font-size: 24px;
	font-weight: 400px;
	font-family: "Merriweather";
	text-align: center;
}

.threedivs p {
	font-size: 20px;
	font-weight: 300;
	margin-left: 20px;
}
.threedivsbutton {
	border-radius: 5px;
	background-color: #d3d3d3;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 800;
	font: 28px;
	margin: 0px 50px;
	box-shadow: 0px 2px 1px gray;
}

footer {
	background-color: black;
	margin-top: 20px;
	margin-bottom: 0px;
	position: absolute;
	width: 1024px;
}

footer p {
	color: white;
	font-size: 16px;
	font-weight: 300;
	margin-left: 25px;
	padding-bottom: 0px;
	padding-top: 0px;

}

